section.access {
  @apply bg-no-repeat bg-center bg-[#942222] bg-cover min-h-dvh min-w-[100dvw];
  background-image: url("/codefend/access-bkg.webp");

  .container {
    @apply flex justify-end items-center min-h-dvh min-w-[100dvw];
  }
  .nav {
    @apply flex mb-[35px] gap-x-5;
    span {
      @apply text-lg py-[3px] px-0;
      border-bottom: 3px solid #6f6f6f;
      &.active {
        color: var(--text-color-alt2);
        border-bottom: 3px solid var(--text-color-alt2);
      }
    }
  }
  .brand {
    @apply py-[30px] px-[140px] grow max-w-[740px] select-none;
  }
  .forms {
    @apply grow flex flex-col justify-start max-w-[45%] min-h-dvh bg-white py-[27px] px-[75px];
  }
}
