@forward 'settings/settings.scss';

///////////////////////////////////////////////////////////////////
// UTIL
//////////////////////////////////////////////////////////////////
.bg-codefend {
	background-color: var(--bkg-codefend);
	color: var(--color-codefend);
}

.title-format {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--color-codefend);
	color: var(--font-color);
	color: #000;
}

.red-border {
	border-left: 6px solid var(--bkg-codefend) !important;
}

.border-bottom {
	border-bottom: 1px solid var(--color-border) !important;
}

.sub-domain-icon-v {
	display: inline-block;
	width: 0.125rem /* 2px */;
	height: 100%;
	background-color: var(--bkg-codefend);
}
.sub-domain-icon-h {
	display: inline-block;
	width: 0.125rem /* 2px */;
	height: 0.125rem /* 2px */;
	align-self: center;
	margin-inline-end: 0;

	background-color: var(--bkg-codefend);
}

.codefend-text-red {
	color: var(--bkg-codefend) !important;
}

.text-white {
	color: var(--main-black) !important;
}

.text-gray {
	color: var(--color-icon) !important;
}

.disable-border div {
	border-bottom: 0px solid var(--color-border);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.text-fend-red {
	color: var(--text-color-fend-red) !important;
}

.tox-textarea {
	height: 500px !important;
}

///////////////////////////////////////////////////////////////////
// DEFAULT SIZE PANEL
//////////////////////////////////////////////////////////////////
main.dashboard,
main.webapp,
main.lan,
main.social,
main.issues-list,
main.source-code,
main.preferences,
main.sb {
	.left {
		width: 70%;
	}
	.right {
		width: 30%;
	}
}

main.mobile,
main.cloud {
	.left {
		width: 30%;
		margin-block-end: -0.625rem;
		margin-block-start: -0.625rem;

		padding-block-start: 0.625rem;
		padding-block-end: 4rem;
		padding-inline-end: 0.813rem;

		width: 30%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		max-height: 100dvh;

		.list {
			display: flex;
			flex-direction: column;
			row-gap: 0.938rem;
			width: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			padding-inline-end: 0.625rem;

			.app-info {
				cursor: pointer;
			}
		}

		.add-button {
			display: flex;
			width: 100%;

			button {
				width: 100%;
				margin-block-end: 1rem;
			}
		}
	}
	.right {
		max-width: 70%;
		padding-inline-end: 1rem;
	}
}
