main.webapp {
	.card.table {
		.item {
			.location {
				.flag {
					margin-inline-end: 0.75rem;
				}
			}
		}

		.trash {
			display: flex;
			justify-content: center;

			svg,
			path {
				cursor: pointer;
			}
		}
	}
}
