.card {
  overflow-x: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-border);

  &.only-info {
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.25rem /* 20px */;
      p {
        color: var(--text-color);
      }
    }
  }

  &.risk-chart {
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.25rem /* 20px */;
      column-gap: 1dvw;

      .chart {
        flex-grow: 0.3;
        max-width: 30%;

        canvas {
          width: 100% !important;
          height: 100% !important;
        }
      }
      .table {
        flex-grow: 0.7;
        max-width: 70%;
      }
    }
  }

  &.stats {
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .stat {
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        padding-block: 1.25rem /* 20px */;
        padding-inline: 0;
        flex-grow: 1;

        color: var(--text-color-alt3);
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: var(--color-border);
        .value {
          font-weight: 700;
          font-size: 32px;
          line-height: 32px;
          color: var(--text-color-alt3);
          span {
            color: var(--stats-value-color);
          }
        }
        p {
          font-size: 12px;
          font-weight: bold;
          color: var(--text-color-alt3);
        }

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  &.filtered {
    .filters {
      display: flex;
      flex-direction: column;
      padding-block: 0;
      padding-inline: 1.25rem /* 20px */;
      color: var(--font-color);

      .filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: var(--color-border);

        .value {
          display: flex;
          align-items: center;
          justify-content: space-between;
          column-gap: 7px;
        }

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          color: var(--text-color-alt2);
        }
      }
    }
  }

  &.colaborators {
    height: 100%;

    > .colaborators-container {
      height: 100%;
      overflow: hidden;
    }
  }

  &.messages {
    width: 100%;
    overflow: hidden;
    height: 92dvh;

    .content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      overflow-y: auto;
      height: 60dvh;
      .messages-wrapper {
        width: 100%;
        height: 60dvh;
        color: var(--text-color);
        span {
          color: var(--text-color-alt3);
        }
        .tt {
          border-bottom: 1px solid var(--color-border);
        }
      }
    }
    .sender {
      .header {
        justify-content: space-between;
        margin-inline-end: -1.25rem /* -20px */;
        button {
          height: 100%;
        }
      }
      textarea {
        color: var(--text-color);
      }
    }
  }

  & + .card {
    margin-block-start: 10px;
  }
}

.empty-card {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  .empty-container {
    display: flex;
    align-items: center;
    width: 35.25rem;
    height: 6.56rem;
    margin: 1.8rem 0 1.8rem 0;
  }
  .empty-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    column-gap: 20px;
    padding: 0 1.75rem;

    .empty-content {
      display: flex;
      flex-direction: column;
      column-gap: 8px;

      .first-text {
        color: var(--text-color-fend-red);
        font-weight: 800;
      }

      .second-text {
        color: #7e7e7e;
      }
    }
  }
}
