.log-inputs {
  background-color: var(--input-background);
  color: var(--input-font-color);
  border: 1px solid var(--color-border);

  &.text-area:focus {
    border-color: var(--input-outline-color);
  }

  &.log-text {
    display: block;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;

    border-radius: 0.25rem;
    padding: 0.625rem /* 10px */;
  }
}

.checkbox-color {
  accent-color: var(--bkg-codefend);
}

input {
  height: 43px;
  padding-block: 0;
  padding-inline: 15px;
  background-color: var(--input-background);
  color: var(--input-font-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-border);

  &:focus {
    outline: 0px solid;
    border: 1px solid var(--input-outline-color);
  }
}

select {
  color: var(--text-color);
  &:focus {
    outline: 0px solid;
  }
}

.check {
  display: flex;
  align-items: center;
  column-gap: 0.5rem /* 8px */;
}
input[type="checkbox"] {
  accent-color: var(--bkg-codefend);
}
