.log-inputs {
  background-color: var(--input-background);
  color: var(--input-font-color);
  border: 1px solid var(--color-border);

  &.text-area:focus {
    border-color: var(--input-outline-color);
  }
}

.checkbox-color {
  accent-color: var(--bkg-codefend);
}

input {
  @apply h-[45px] border border-solid py-0 px-[15px];
  height: 45px;
  background-color: var(--input-background);
  color: var(--input-font-color);
  border-color: var(--color-border);

  &:focus {
    outline: 0px solid;
    border: 1px solid var(--input-outline-color);
  }
}

select {
  color: var(--text-color);
  &:focus {
    outline: 0px solid;
  }
}

.check {
  @apply flex items-center gap-x-2;
}
input[type="checkbox"] {
  accent-color: var(--bkg-codefend);
}

form.signup-confirmation {
  .check-mail {
    p {
      color: var(--font-color);
    }
  }

  .otp-label {
    color: var(--color-active-border);
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }
}
