.sidebar {
  @apply flex flex-col justify-start h-dvh fixed z-[1] top-0 border-r border-solid;
  padding-block-start: calc(var(--nav-height) + 28px);
  border-right-color: var(--color-border);
  background-color: var(--sidebar-bkg) !important;
  color: var(--color-codefend);

  a {
    @apply min-h-[45px] transition-all p-6 flex items-center py-[1.75dvh] mt-0 border-b border-solid;
    color: var(--color-icon);
    border-bottom-color: var(--color-border);

    svg {
      pointer-events: none !important;
    }

    &.disabled {
      cursor: not-allowed;
      color: var(--text-color-alt3);
      background-color: var(--sidebar-bkg);
      &:hover {
        cursor: not-allowed;
        color: var(--text-color-alt3);
        background-color: var(--sidebar-bkg);
      }
    }
    &.active {
      background-color: var(--bkg-codefend);
      color: #ffffff;

      &:hover {
        color: #ffffff;
      }
    }
  }
  a:first-child {
    border-top: 1px solid var(--color-border);
  }

  a:hover {
    color: var(--text-color-alt2);
  }
}
