.table-wrapper {
  .table-title-header {
    .header {
      @apply flex items-center h-[40px] border-b border-solid py-0 px-5 font-[Roboto] text-[13px] leading-[13px] uppercase font-bold;
      border-bottom-color: var(--color-border);
      background-color: var(--header-title-bkg);
      color: var(--font-color);

      .title {
        @apply flex items-center pr-[13px];
        .icon {
          @apply mr-[13px] text-[13px];
          color: var(--text-color-alt2);
        }

        span {
          color: var(--text-color-alt);
        }
      }

      .actions {
        @apply flex items-center border-l border-solid;
        border-left-color: var(--header-lines-color);
        color: var(--text-color-alt2);
        > div {
          border-right: 1px solid var(--header-lines-color);
          padding: 0 13px;
        }
      }
    }
  }

  table {
    @apply font-[Questrial] text-sm;
    color: var(--font-color);
    tbody {
    }

    th {
      padding: 10px 20px;
      text-align: left;
    }
    td {
      border-top: 1px solid var(--color-border);
      padding: 10px 20px;
    }
  }
}
